/* ! ------------------------------------------------- ! */
/* ! ============= Author: David Matras ===============! */
/* ! =============  Date:   16.11.2022  ===============! */
/* ! =============  Thanks for review!  ===============! */
/* ! --------------------------------------------------! */

:root {
  /* Theme 1 */
  /* Backgrounds */
  --Verydarkdesaturatedblue_mainbackground: hsl(222, 26%, 31%);
  --Verydarkdesaturatedblue_togglebackground_keypad_background: hsl(223, 31%, 20%);
  --Verydarkdesaturatedblue_screenbackground: hsl(224, 36%, 15%);

  /* Keys */
  --Desaturateddarkblue_keybackground: hsl(225, 21%, 49%);
  --Desaturateddarkblue_keyshadow: hsl(224, 28%, 35%);
  --Red_keybackgroundtoggle: hsl(6, 63%, 50%);
  --Darkred_keyshadow: hsl(6, 70%, 34%);
  --Lightgrayishorange_keybackground: hsl(30, 25%, 89%);
  --Grayishorange_keyshadow: hsl(28, 16%, 65%);

  /* Text */
  --Verydarkgrayishblue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);

  /* Theme 2 
   Backgrounds */
  --Lightgray-mainbackground: hsl(0, 0%, 90%);
  --Grayishred-togglebackground-keypadbackground: hsl(0, 5%, 81%);
  --Verylightgray-screenbackground: hsl(0, 0%, 93%);

  /* Keys */
  --Darkmoderatecyan-keybackground: hsl(185, 42%, 37%);
  --Verydarkcyan-keyshadow: hsl(185, 58%, 25%);
  --Orange-keybackground-toggle: hsl(25, 98%, 40%);
  --Darkorange-keyshadow: hsl(25, 99%, 27%);
  --Lightgrayishyellow-keybackground: hsl(45, 7%, 89%);
  --Darkgrayishorange-keyshadow: hsl(35, 11%, 61%);

  /* Text */
  --Verydarkgrayishyellow: hsl(60, 10%, 19%);
  --White-text: hsl(0, 0%, 100%);

  /* Theme 3 */
  /* Backgrounds */
  --Verydarkviolet-mainbackground: hsl(268, 75%, 9%);
  --Verydarkviolet-togglebackground-keypadbackground-screenbackground: hsl(268, 71%, 12%);

  /* Keys */
  --Darkviolet-keybackground: hsl(281, 89%, 26%);
  --Vividmagenta-keyshadow: hsl(285, 91%, 52%);
  --Purecyan-keybackground-toggle: hsl(176, 100%, 44%);
  --Softcyan-keyshadow: hsl(177, 92%, 70%);
  --Verydarkviolet-keybackground: hsl(268, 47%, 21%);
  --Darkmagenta-keyshadow: hsl(290, 70%, 36%);

  /* Text */
  --Lightyellow: hsl(52, 100%, 62%);
  --Verydarkblue: hsl(198, 20%, 13%);
  --Whitetext: hsl(0, 0%, 100%);
}
body {
  font-family: "League Spartan";
  font-weight: 700;
}
