/* ! ------------------------------------------------- ! */
/* ! ============= Author: David Matras ===============! */
/* ! =============  Date:   16.11.2022  ===============! */
/* ! =============  Thanks for review!  ===============! */
/* ! --------------------------------------------------! */

:root {
  /* Theme 1 */
  /* Backgrounds */
  --Verydarkdesaturatedblue_mainbackground: hsl(222, 26%, 31%);
  --Verydarkdesaturatedblue_togglebackground_keypad_background: hsl(223, 31%, 20%);
  --Verydarkdesaturatedblue_screenbackground: hsl(224, 36%, 15%);

  /* Keys */
  --Desaturateddarkblue_keybackground: hsl(225, 21%, 49%);
  --Desaturateddarkblue_keyshadow: hsl(224, 28%, 35%);
  --Red_keybackgroundtoggle: hsl(6, 63%, 50%);
  --Darkred_keyshadow: hsl(6, 70%, 34%);
  --Lightgrayishorange_keybackground: hsl(30, 25%, 89%);
  --Grayishorange_keyshadow: hsl(28, 16%, 65%);

  /* Text */
  --Verydarkgrayishblue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);

  /* Theme 2 
   Backgrounds */
  --Lightgray-mainbackground: hsl(0, 0%, 90%);
  --Grayishred-togglebackground-keypadbackground: hsl(0, 5%, 81%);
  --Verylightgray-screenbackground: hsl(0, 0%, 93%);

  /* Keys */
  --Darkmoderatecyan-keybackground: hsl(185, 42%, 37%);
  --Verydarkcyan-keyshadow: hsl(185, 58%, 25%);
  --Orange-keybackground-toggle: hsl(25, 98%, 40%);
  --Darkorange-keyshadow: hsl(25, 99%, 27%);
  --Lightgrayishyellow-keybackground: hsl(45, 7%, 89%);
  --Darkgrayishorange-keyshadow: hsl(35, 11%, 61%);

  /* Text */
  --Verydarkgrayishyellow: hsl(60, 10%, 19%);
  --White-text: hsl(0, 0%, 100%);

  /* Theme 3 */
  /* Backgrounds */
  --Verydarkviolet-mainbackground: hsl(268, 75%, 9%);
  --Verydarkviolet-togglebackground-keypadbackground-screenbackground: hsl(268, 71%, 12%);

  /* Keys */
  --Darkviolet-keybackground: hsl(281, 89%, 26%);
  --Vividmagenta-keyshadow: hsl(285, 91%, 52%);
  --Purecyan-keybackground-toggle: hsl(176, 100%, 44%);
  --Softcyan-keyshadow: hsl(177, 92%, 70%);
  --Verydarkviolet-keybackground: hsl(268, 47%, 21%);
  --Darkmagenta-keyshadow: hsl(290, 70%, 36%);

  /* Text */
  --Lightyellow: hsl(52, 100%, 62%);
  --Verydarkblue: hsl(198, 20%, 13%);
  --Whitetext: hsl(0, 0%, 100%);
  /* ? Resseting defaults */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ? Body and main styling  */
body {
  font-family: "League Spartan";
  font-weight: 700;
  font-size: 62.5%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main {
  background-color: var(--Verydarkdesaturatedblue_mainbackground);
  padding: 5rem 5rem;
  width: fit-content;
  margin: 0 auto;
}

/* ? Header styling */
#header {
  display: flex;
  justify-content: space-between;
  max-width: max-content;
  margin: 0 auto;
}
.title {
  color: var(--White-text);
  padding: 2rem 16rem 2rem 0;
  font-size: 1.8rem;
}
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  color: var(--White-text);
  letter-spacing: 0.1rem;
}

/* ? Calc section styling */
#calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  max-width: min-content;
  margin: 0 auto;
}
#result {
  background-color: var(--Verydarkdesaturatedblue_screenbackground);
  border-radius: 0.5rem;
}
.buttons {
  background-color: var(--Verydarkdesaturatedblue_togglebackground_keypad_background);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-row: 2 / 5;
  max-width: max-content;
  border-radius: 0.5rem;
}
.button {
  font-family: "League Spartan";
  color: var(--Verydarkdesaturatedblue_togglebackground_keypad_background);
  background-color: var(--Lightgrayishorange_keybackground);
  margin: 0;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Lightgrayishorange_keybackground);
  box-shadow: 0px 4px 1px 0px var(--Grayishorange_keyshadow);
  font-size: 2rem;
}
.button--long--one {
  grid-column: 1 / 3;
}
.button--long--two {
  grid-column: 3 / 5;
}
.button--del {
  background-color: var(--Desaturateddarkblue_keybackground);
  box-shadow: 0px 4px 1px 0px var(--Desaturateddarkblue_keyshadow);
  border-color: var(--Desaturateddarkblue_keybackground);
  color: var(--Lightgrayishorange_keybackground);
  text-transform: uppercase;
}
.button--sum {
  color: var(--Lightgrayishorange_keybackground);
  background-color: var(--Red_keybackgroundtoggle);
  box-shadow: 0px 4px 1px 0px var(--Darkred_keyshadow);
  border-color: var(--Darkred_keyshadow);
}
.toggle-one {
}
.toggle-two {
}
.toggle-three {
}
